Filling in blanks

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [0]:
def count(dataframe):
  print(np.logical_not(dataframe.isnull()).sum()[0])

In [0]:
def load_data(path):
  df = pd.read_csv(path,sep = ';')
  return df

In [0]:
df = load_data('/content/drive/My Drive/BazeField/bessakerdata16101246_30sec.csv')

In [227]:
df = df.copy()
df.head()

             TimeStamp  ...  BESS-WTG01-WindDirection (Average)
0  15-07-2017 00:00:00  ...                                 NaN
1  15-07-2017 00:00:30  ...                                 NaN
2  15-07-2017 00:01:00  ...                                 NaN
3  15-07-2017 00:01:30  ...                                 NaN
4  15-07-2017 00:02:00  ...                                 NaN

[5 rows x 35 columns]

In [228]:
# This dataset is a dataset for a SINGLE wind turbine:

# Slice dataset on this row nr.: 177228 (4-09-2017 12:54:00)
#df.iloc[[177228]]


location = np.where(df["TimeStamp"].str.contains("25-09-2017 13:20:00"))
print(location)
split_on_index = location[0][0]
print(split_on_index)

# Splitting
df1 = df.iloc[:split_on_index, :]
df2 = df.iloc[split_on_index:, :]

# Reseting index
df2 = df2.reset_index(drop=True)


df2.head()

(array([208960]),)
208960

             TimeStamp  ...  BESS-WTG01-WindDirection (Average)
0  25-09-2017 13:20:00  ...                          141.500000
1  25-09-2017 13:20:30  ...                                 NaN
2  25-09-2017 13:21:00  ...                                 NaN
3  25-09-2017 13:21:30  ...                          140.899994
4  25-09-2017 13:22:00  ...                                 NaN

[5 rows x 35 columns]

## Find index of first value in a column that is not NaN:

In [0]:
# Find the first non-NaN value in a column
def find_first_not_nan(df,column_name):
  ser = df2[column_name].notnull()
  length = ser.shape[0]

  for i in range (length):
    if (ser[i] == True):
      return i
  return "no values in column!"

## Loop through all columns in the dataset and put in the first not NaN number

In [0]:
# Looping all columns in dataframe
def loop_through_and_fill_first_val(data):
  for col in data.columns:

    index = find_first_not_nan(data,col)

    if (index != 0):
      # Put the value at the found index at the first index:
      data.at[0, col] = data.at[index, col]

    # Dropping columns if the first value is too far in the data set
    if (index > 200):
      data.drop([col], axis=1,inplace = True)

In [0]:
loop_through_and_fill_first_val(df2)

In [232]:
df2.head()

             TimeStamp  ...  BESS-WTG01-WindDirection (Average)
0  25-09-2017 13:20:00  ...                          141.500000
1  25-09-2017 13:20:30  ...                                 NaN
2  25-09-2017 13:21:00  ...                                 NaN
3  25-09-2017 13:21:30  ...                          140.899994
4  25-09-2017 13:22:00  ...                                 NaN

[5 rows x 33 columns]

### Filling all missing values

In [233]:
def fill_missing_values(dataframe):
  # Filling in the missing values:
  dataframe.fillna(method='ffill', inplace=True)
  dataframe.head()
  return dataframe

             TimeStamp  ...  BESS-WTG01-WindDirection (Average)
0  25-09-2017 13:20:00  ...                          141.500000
1  25-09-2017 13:20:30  ...                          141.500000
2  25-09-2017 13:21:00  ...                          141.500000
3  25-09-2017 13:21:30  ...                          140.899994
4  25-09-2017 13:22:00  ...                          140.899994

[5 rows x 33 columns]

In [0]:
df2 = fill_missing_values(df2)

# The Error log

### Reading the data for WT01

In [0]:
df_log = pd.read_excel('/content/drive/My Drive/BazeField/alarmlogs/AlarmlogBessaker.xlsx')

In [235]:
# Check that the error set only contains "Alarms" and no "Warnings"
df_log.Type.unique()

array(['Alarm'], dtype=object)

### Filtering and sorting errors by date

In [236]:
df_log_WT01 = df_log[df_log.Turbine == "BESS-WTG01"]
df_log_WT01
df_log_WT01.sort_values(by=['Start'], inplace = True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

### Removing errors older than 25-09-2017

In [237]:
from datetime import date
df_log_WT01["Start"] = pd.to_datetime(df_log_WT01['Start'])
df_log_WT01.head()
df_log_WT01 = df_log_WT01[(df_log_WT01.Start >= date(2017, 9, 25))]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  after removing the cwd from sys.path.

### Formatting the dates in the error data

In [0]:

# What I have: format='%Y-%m-%d %H:%M:%S').
# What I want: '%d-%m-%Y %H:%M:%S'

def format_dates(dataframe):
  dataframe['Start'] = pd.to_datetime(dataframe['Start'], format='%Y-%m-%d %H:%M:%S').dt.strftime('%d-%m-%Y %H:%M:%S')
  dataframe['End'] = pd.to_datetime(dataframe['End'], format='%Y-%m-%d %H:%M:%S').dt.strftime('%d-%m-%Y %H:%M:%S')

In [0]:
df_log_WT01 = format_dates(df_log_WT01)
df_log_WT01.shape
df_log_WT01.head()

### Filtering the wanted errors

In [0]:
'''
Error descriptions:

    "Status_9_Substatus_8" = Generator heating - (Manual)
    "Status_62_Substatus_7" = Feeding fault - (Diff. P-set/P-actual)
    "Status_15_Substatus_1" = Turbine moist - (Turbine moist Inverter 1)
    "Status_62_Substatus_30" = Feeding fault - (Feeding safety circuit faulty)
 
    '''
selected_errors = [
    "Status_9_Substatus_8",
    "Status_62_Substatus_7",
    "Status_62_Substatus_30"

]

def remove_unnecessary_faults(dataframe):
  new_df = pd.DataFrame(columns=df_log_WT01.columns)

  for fault in selected_errors:
    new_df = new_df.append(df_log_WT01[ df_log_WT01["Alarm"] == fault])

  return new_df

In [261]:
df_log_WT01 = remove_unnecessary_faults(df_log_WT01)
df_log_WT01.shape

(26, 11)

### Splitting the error data on the wanted date (25-09-2017)

In [0]:
import seaborn as sns

fig = plt.figure(figsize = (12,6))
sns.countplot(x='TimeStamp',data = removed_columns)
plt.show()