In [25]:
import pandas as pd
df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
                    'mask': ['red', 'purple'],
                  'weapon': ['sai', 'bo staff']})
df

        name    mask    weapon
0    Raphael     red       sai
1  Donatello  purple  bo staff

In [24]:
def df_to_latex(dataframe ):
    text =  dataframe.to_latex(index=False)
    
    print()
    print(text)


text = df_to_latex(df)
print(text)

\begin{tabular}{lll}
\toprule
      name &    mask &    weapon \\
\midrule
   Raphael &     red &       sai \\
 Donatello &  purple &  bo staff \\
\bottomrule
\end{tabular}

In [14]:
def head_row_col(dataframe):
    print_df = dataframe.head().iloc[:,[1,2,3,4,5]].copy()
    print_df["..."]="..."
    return print_df

In [19]:
text.replace("lll","ht")

'\\begin{tabular}{ht}\n\\toprule\n      name &    mask &    weapon \\\\\n\\midrule\n   Raphael &     red &       sai \\\\\n Donatello &  purple &  bo staff \\\\\n\\bottomrule\n\\end{tabular}\n'